html {
    scroll-behavior: smooth;
  }
  .fobid-scroll {
    overflow: hidden;
  }
  body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;
  }
  body h3,
  body p {
    margin: 0;
    padding: 0;
  }
  body ul {
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    padding: 0;
  }
  body a {
    text-decoration: none;
  }
  body .active {
    display: block !important;
  }
  body #side-menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 999999;
    display: none;
  }
  body #side-menu #side-menu-header {
    height: 70px;
    border-bottom: 1px solid #000000;
    position: relative;
  }
  body #side-menu #side-menu-header #close-btn {
    font-size: 50px;
    color: #4f4f4f;
    padding: 7px 16px;
    position: absolute;
    right: 15px;
    cursor: pointer;
  }
  body #side-menu ul li {
    text-align: center;
    padding: 25px 16px;
  }
  body #side-menu ul li a {
    color: #4f4f4f;
    text-decoration: none;
    font-size: 24px;
  }
  body #container {
    width: 100%;
    max-width: 1920px;
    display: block;
    margin: auto;
  }
  body #container #gsoft-header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  body #container #gsoft-header #nav-bar {
    width: 77%;
    display: flex;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    body #container #gsoft-header #nav-bar {
      width: 80%;
    }
  }
  @media (min-width: 481px) and (max-width: 767px) {
    body #container #gsoft-header #nav-bar {
      width: 90%;
    }
  }
  @media (min-width: 320px) and (max-width: 480px) {
    body #container #gsoft-header #nav-bar {
      width: 90%;
    }
  }
  body #container #gsoft-header #nav-bar #logo-wrapper {
    background-color: #F8002D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 110px;
  }
  @media (min-width: 320px) and (max-width: 480px) {
    body #container #gsoft-header #nav-bar #logo-wrapper {
      width: 160px;
      height: 70px;
    }
  }
  body #container #gsoft-header #nav-bar #logo-wrapper #logo-container #logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media screen and (max-width: 1024px) {
    body #container #gsoft-header #nav-bar #logo-wrapper #logo-container #logo {
      width: 70px;
      height: 70px;
      object-fit: contain;
    }
  }
  body #container #gsoft-header #nav-bar #nav-menu {
    flex: 1;
  }
  @media (min-width: 320px) and (max-width: 1024px) {
    body #container #gsoft-header #nav-bar #nav-menu {
      display: none;
    }
  }
  body #container #gsoft-header #nav-bar #nav-menu li {
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    color: #4F4F4F;
    margin: 31px 45px;
  }
  body #container #gsoft-header #nav-bar #nav-menu li a {
    color: inherit;
  }
  body #container #gsoft-header #nav-bar #nav-menu li:not(:first-child) {
    margin: 31px 40px;
  }
  body #container #gsoft-header #nav-bar #language-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: .1;
    margin: 25px;
    margin-left: 20px;
    font-size: 13px;
    font-weight: 300;
  }
  @media screen and (max-width: 1024px) {
    body #container #gsoft-header #nav-bar #language-container {
      margin: 10px;
    }
  }
  body #container #gsoft-header #nav-bar #language-container a {
    color: #4F4F4F;
  }
  body #container #gsoft-header #nav-bar #language-container a.active {
    color: #F8002D;
  }
  body #container #gsoft-header #nav-bar #language-container a:first-child {
    padding-right: 10px;
    margin: 5px;
    position: relative;
  }
  body #container #gsoft-header #nav-bar #language-container a:first-child::after {
    content: '|';
    position: absolute;
    right: 0;
  }
  body #container #gsoft-header #nav-bar .dropdown {
    display: none;
    align-self: center;
    z-index: 999;
    margin-left: auto;
  }
  @media (min-width: 320px) and (max-width: 1024px) {
    body #container #gsoft-header #nav-bar .dropdown {
      display: block;
    }
    body #container #gsoft-header #nav-bar .dropdown #reveal-menu-btn {
      cursor: pointer;
    }
    body #container #gsoft-header #nav-bar .dropdown #reveal-menu-btn .line {
      width: 20px;
      height: 2px;
      background: #4F4F4F;
      margin: 5px;
    }
  }
  body #container #gsoft-header #gsoft-banner {
    width: 100%;
    background: url(./../images/description.png) no-repeat;
    height: 718px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    body #container #gsoft-header #gsoft-banner li {
      margin: 10px 25px;
    }
  }
  body #container #gsoft-header #gsoft-banner #red-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #F8002D;
    z-index: 999;
    width: calc(241.5px);
    mix-blend-mode: multiply;
  }
  @media (min-width: 320px) and (max-width: 480px) {
    body #container #gsoft-header #gsoft-banner #red-overlay {
      width: calc(165px);
    }
  }
  @media (min-width: 481px) and (max-width: 767px) {
    body #container #gsoft-header #gsoft-banner #red-overlay {
      width: calc(235px);
    }
  }
  @media (min-width: 320px) and (max-width: 480px) {
    body #container #gsoft-header #gsoft-banner {
      height: 250px;
    }
  }
  body #container #gsoft-header #gsoft-banner::after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #000;
    opacity: .3;
    bottom: 0;
  }
  body #container #gsoft-header #gsoft-banner h1 {
    color: #fff;
    font-size: 90px;
    transform: translateX(-18%);
    z-index: 99999;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: -40px;
  }
  @media screen and (max-width: 1024px) {
    body #container #gsoft-header #gsoft-banner h1 {
      transform: translateX(0%) !important;
    }
  }
  @media (min-width: 481px) and (max-width: 767px) {
    body #container #gsoft-header #gsoft-banner h1 {
      font-size: 60px;
      transform: translateX(5%) !important;
    }
  }
  @media (min-width: 320px) and (max-width: 480px) {
    body #container #gsoft-header #gsoft-banner h1 {
      transform: translateX(10%) !important;
      font-size: 40px !important;
    }
  }
  @media only screen and (max-width: 320px) {
    body #container #gsoft-header #gsoft-banner h1 {
      font-size: 30px !important;
    }
  }
  body #container #gsoft-introduction-wrapper {
    margin-top: 220px;
    display: flex;
    justify-content: center;
  }
  @media (min-width: 481px) and (max-width: 767px) {
    body #container #gsoft-introduction-wrapper {
      margin: 150px 0;
    }
  }
  @media (min-width: 320px) and (max-width: 480px) {
    body #container #gsoft-introduction-wrapper {
      margin: 100px 0;
    }
  }
  body #container #gsoft-introduction-wrapper #gsoft-introduction-container {
    display: flex;
    align-items: center;
    width: 75%;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    body #container #gsoft-introduction-wrapper #gsoft-introduction-container {
      display: block;
    }
    body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(8, 1fr);
    }
  }
  @media (min-width: 481px) and (max-width: 767px) {
    body #container #gsoft-introduction-wrapper #gsoft-introduction-container {
      display: block;
      width: 90%;
    }
    body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-grid {
      grid-template-columns: repeat(8, 70px) !important;
      grid-template-rows: repeat(8, 50px) !important;
    }
  }
  @media (min-width: 320px) and (max-width: 480px) {
    body #container #gsoft-introduction-wrapper #gsoft-introduction-container {
      display: block;
      width: 90%;
    }
    body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-grid {
      grid-template-columns: repeat(8, 50px) !important;
      grid-template-rows: repeat(8, 40px) !important;
    }
  }
  @media only screen and (max-width: 320px) {
    body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-grid {
      grid-template-columns: repeat(8, 40px) !important;
      grid-template-rows: repeat(8, 30px) !important;
    }
  }
  body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 60px);
    grid-gap: 0;
  }
  body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-grid .grid-item {
    margin: 0;
  }
  body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-grid .grid-item.grid-item--1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-grid .grid-item.grid-item--2 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: -40px;
  }
  body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-grid .grid-item.grid-item--3 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-right: 30px;
  }
  body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-grid .grid-item.grid-item--4 {
    padding-top: 60px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 6;
    width: 120px;
  }
  body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-grid .grid-item.grid-item--5 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
    padding-left: 40px;
  }
  body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-grid .grid-item.grid-item--6 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 5;
    padding-bottom: 10px;
    padding-right: 30px;
  }
  body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-grid .grid-item.grid-item--7 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
    padding-bottom: 20px;
  }
  body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-grid .grid-item.grid-item--8 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
    padding-bottom: 20px;
  }
  body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-grid .grid-item.grid-item--9 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;
    width: 80px;
    height: 80px;
  }
  @media (min-width: 320px) and (max-width: 480px) {
    body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-grid .grid-item.grid-item--9 {
      width: auto;
      height: auto;
    }
  }
  body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-grid .grid-item.grid-item--10 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 8;
  }
  body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-grid .grid-item .grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-container {
    flex: .5;
    align-self: flex-start;
    margin-top: 90px;
    margin-left: 80px;
  }
  @media (min-width: 320px) and (max-width: 1024px) {
    body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-container {
      margin-top: 0;
      margin-left: 0;
    }
  }
  body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-container h3 {
    font-size: 24px;
    color: #333;
    font-weight: 300;
  }
  body #container #gsoft-introduction-wrapper #gsoft-introduction-container #introduction-container p {
    color: #828282;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 10px;
  }
  body #container #gsoft-description-wrapper {
    margin-top: 185px;
    width: 100%;
    display: flex;
    height: 670px;
  }
  @media screen and (max-width: 1024px) {
    body #container #gsoft-description-wrapper {
      height: auto;
      display: block;
    }
  }
  @media (min-width: 481px) and (max-width: 767px) {
    body #container #gsoft-description-wrapper {
      margin-top: 185px;
    }
  }
  @media (min-width: 320px) and (max-width: 480px) {
    body #container #gsoft-description-wrapper {
      margin-top: 185px;
    }
  }
  body #container #gsoft-description-wrapper #description-background {
    flex: .8;
    background: url(./../images/gsoft-description.png) no-repeat;
    background-size: cover;
    position: relative;
  }
  body #container #gsoft-description-wrapper #description-background::after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #000;
    opacity: .3;
    bottom: 0;
  }
  @media screen and (max-width: 1024px) {
    body #container #gsoft-description-wrapper #description-background {
      min-height: 30vh;
      background-position: 50% 30%;
    }
  }
  body #container #gsoft-description-wrapper #description-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  body #container #gsoft-description-wrapper #description-container .gsoft-description {
    display: flex;
    padding-top: 42px;
    flex-direction: column;
    flex: 1;
    padding-left: 60px;
    color: #fff;
  }
  body #container #gsoft-description-wrapper #description-container .gsoft-description h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
  }
  body #container #gsoft-description-wrapper #description-container .gsoft-description p {
    font-size: 13px;
    line-height: 22px;
    max-width: 80%;
  }
  body #container #gsoft-description-wrapper #description-container .gsoft-description:nth-child(1) {
    background-color: #F8002D;
  }
  body #container #gsoft-description-wrapper #description-container .gsoft-description:nth-child(2) {
    background-color: #D20026;
  }
  body #container #gsoft-description-wrapper #description-container .gsoft-description:nth-child(3) {
    background-color: #BB0022;
  }
  @media screen and (max-width: 1024px) {
    body #container #gsoft-description-wrapper #description-container .gsoft-description {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  body #container #gsoft-purpose-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }
  @media (min-width: 481px) and (max-width: 767px) {
    body #container #gsoft-purpose-wrapper {
      margin-top: 100px;
      margin-bottom: 0px;
    }
  }
  @media (min-width: 320px) and (max-width: 480px) {
    body #container #gsoft-purpose-wrapper {
      margin-top: 100px;
      margin-bottom: 0px !important;
    }
  }
  body #container #gsoft-purpose-wrapper #gsoft-purpose-container {
    width: 77%;
    display: flex;
  }
  @media (min-width: 320px) and (max-width: 1024px) {
    body #container #gsoft-purpose-wrapper #gsoft-purpose-container {
      width: 90%;
      display: block;
    }
    body #container #gsoft-purpose-wrapper #gsoft-purpose-container #gsoft-purpose-right-column {
      background-position: 50% 0 !important;
    }
  }
  body #container #gsoft-purpose-wrapper #gsoft-purpose-container #gsoft-purpose-left-column {
    flex: .4;
    display: flex;
    flex-direction: column;
    padding-top: 114px;
  }
  @media (min-width: 320px) and (max-width: 1024px) {
    body #container #gsoft-purpose-wrapper #gsoft-purpose-container #gsoft-purpose-left-column {
      padding-top: 0px;
    }
  }
  body #container #gsoft-purpose-wrapper #gsoft-purpose-container #gsoft-purpose-left-column h2 {
    font-size: 24px;
    font-weight: 300;
    color: #333;
  }
  body #container #gsoft-purpose-wrapper #gsoft-purpose-container #gsoft-purpose-left-column p {
    color: #828282;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
  }
  body #container #gsoft-purpose-wrapper #gsoft-purpose-container #gsoft-purpose-right-column {
    flex: .8;
    background: url(./../images/gsoft-purpose-background.png) no-repeat;
    background-size: contain;
    height: 534px;
    background-position: right;
  }
  @media (min-width: 320px) and (max-width: 767px) {
    body #container #gsoft-purpose-wrapper #gsoft-purpose-container #gsoft-purpose-right-column {
      height: 300px;
    }
  }
  body #container #gsoft-client-wrapper {
    position: relative;
    top: 90px;
    display: flex;
    background: #fff;
    justify-content: center;
    padding-bottom: 150px;
    margin-top: 100px;
  }
  @media (min-width: 320px) and (max-width: 1024px) {
    body #container #gsoft-client-wrapper {
      margin-top: 30px;
    }
  }
  body #container #gsoft-client-wrapper #gsoft-client-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body #container #gsoft-client-wrapper #gsoft-client-container h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
    font-weight: 300;
  }
  body #container #gsoft-client-wrapper #gsoft-client-container #gsoft-client-list {
    text-align: center;
    margin-top: 25px;
  }
  body #container #gsoft-client-wrapper #gsoft-client-container #gsoft-client-list .client-destination {
    margin: 0 12px;
  }
  body #container #gsoft-footer-wrapper {
    background: #F2F2F2;
  }
  body #container #gsoft-footer-wrapper #get-in-touch {
    width: 100%;
    background: url(./../images/get-in-touch-bg.png) no-repeat;
    height: 206px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    position: relative;
    top: 80px;
    z-index: 1;
  }
  body #container #gsoft-footer-wrapper #get-in-touch::after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #000;
    opacity: .6;
    bottom: 0;
  }
  body #container #gsoft-footer-wrapper #get-in-touch h3,
  body #container #gsoft-footer-wrapper #get-in-touch span {
    z-index: 99;
  }
  body #container #gsoft-footer-wrapper #get-in-touch h3 {
    line-height: 45px;
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
  }
  body #container #gsoft-footer-wrapper #get-in-touch span {
    font-size: 13px;
    font-weight: 400;
  }
  @media (min-width: 320px) and (max-width: 767px) {
    body #container #gsoft-footer-wrapper #get-in-touch span {
      padding: 0 15px;
    }
  }
  body #container #gsoft-footer-wrapper #contact-container {
    padding-bottom: -40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    overflow: hidden;
  }
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container {
    z-index: 1;
    background: #fff;
    border-radius: 4px;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 70px 100px;
    -webkit-box-shadow: 0px 4px 10px -9px #000000;
    -moz-box-shadow: 0px 4px 10px -9px #000000;
    box-shadow: 0px 4px 10px -9px #000000;
  }
  @media screen and (max-width: 1024px) {
    body #container #gsoft-footer-wrapper #contact-container #contact-inner-container {
      width: 70%;
    }
  }
  @media (min-width: 320px) and (max-width: 767px) {
    body #container #gsoft-footer-wrapper #contact-container #contact-inner-container {
      width: 100%;
    }
    body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container {
      display: block !important;
    }
    body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-form-container,
    body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-detail {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-form-container {
      padding: 0 15px;
    }
    body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-form-container #contact-form {
      padding: 0 15px;
      width: 100%;
      text-align: center;
    }
    body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-detail {
      margin-top: 40px;
    }
  }
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container {
    display: flex;
    flex: 1;
  }
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-form-container h4,
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-detail h4 {
    color: #4F4F4F;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
  }
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-form-container {
    flex: 1;
    padding-right: 15px;
  }
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-form-container form input,
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-form-container form textarea {
    border: 1px solid #F2F2F2;
    margin-bottom: 10px;
    color: #4F4F4F;
    display: block;
    width: 100%;
    font-weight: 300;
    font-size: 13px;
    font-family: 'Roboto';
    padding: 0 15px;
    box-sizing: border-box;
  }
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-form-container form input:focus,
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-form-container form textarea:focus {
    border: 1px solid #478DF6;
  }
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-form-container form input {
    height: 48px;
  }
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-form-container form textarea {
    height: 84px;
    resize: none;
    padding-top: 10px;
  }
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-form-container form button {
    text-transform: uppercase;
    background: #478DF6;
    padding: 15px 50px;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-detail {
    flex: .5;
    color: #4F4F4F;
    font-size: 13px;
  }
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-detail .form-row {
    position: relative;
    padding-left: 50px;
    padding-right: 10px;
  }
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-detail .form-row:not(:first-child) {
    margin-top: 20px;
  }
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-detail .form-row:first-child {
    margin-top: 30px;
  }
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-detail .form-row::after {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 24px;
    height: 24px;
    background-size: cover;
  }
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-detail .form-row.phone::after {
    background: url(./../images/telephone-icon.png) no-repeat;
  }
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-detail .form-row.email::after {
    background: url(./../images/email-icon.png) no-repeat;
  }
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-detail .form-row.address::after {
    background: url(./../images/location-icon.png) no-repeat;
  }
  body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-detail .form-row h5 {
    padding: 0;
    margin: 0;
    line-height: 23px;
    font-weight: 500;
  }
  @media only screen and (max-width: 320px) {
    body #container #gsoft-footer-wrapper #contact-container #contact-inner-container #contact-second-inner-container #contact-detail .form-row::after {
      left: 10px;
    }
  }
  body #container #gsoft-footer-wrapper #contact-container #copyright {
    position: relative;
    font-size: 14px;
    font-weight: 300;
    color: #828282;
    text-transform: uppercase;
    padding: 20px 0;
  }
  